# Папка node_modules (содержит установленные через npm пакеты)
node_modules/
.idea

# Файлы журнала ошибок
npm-debug.log
yarn-error.log
error.log

# Папка с сгенерированным содержимым (например, сборка клиентского кода)
/public/build/

# Среда
.env

# Исключить конфигурационные файлы, содержащие секретные данные
config.js
secrets.js

# Для проектов на TypeScript и Flow
*.tsbuildinfo
*.js.map

# Для проектов с использованием тестов
__tests__/